@model ListViewModel

@{
    ViewData["Title"] = "ProductListViewIndex";
}

<h1>ProductListViewIndex</h1>

<form asp-controller="Products" asp-action="CategoryFilter" method="get">
    <div class="input-group">
        <input type="search" name="category" placeholder="search on category" />

        <div class="input-group-append">
            <select asp-for="Categories" asp-items="@Model.Categories" class="form-control">
                <option selected="selected" value="">Plese select</option>
            </select>

        </div>

        <div class="input-group-append">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>


    </div>

</form>


<p>
    <a asp-action="Create">Create New</a>
</p>

<partial name="ProductListView" model="@Model.ProductViewModels"/>


